@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2E2E2E;
}

@theme inline {
  /* brand colors */
  --color-brand-black: #08090A;
  --color-brand-white: #FFFCF2;
  --color-brand-gray: #262626;
  --color-brand-green: #606D5D;
  --color-brand-yellow: #FFEC51;

  /* fonts */
  --font-sans: var(--font-plusjakarta); /* main: plus jakarta sans */
  --font-display: var(--font-playfair); /* accent: playfair display */

  /* defaults */
  --color-background: var(--color-brand-white);
  --color-foreground: var(--color-brand-charcoal);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}

p {
  line-height: 1.75em;
}

/* carousel animations */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  display: flex;
  width: max-content;
}